.planets-background {
  height: 30vh;
  width: 100vw;
  background-image: url("../assets/planets.jpg");
  background-size: cover;
}

.sketch-planets-background {
  height: 70vh;
  width: 100vw;
  background-image: url("../assets/sketch-planets.png");
  background-size: cover;
}